<div class="container-fluid">
  <div class="current-banner">
    <h1>Current Fundraisers</h1>
  </div>
  <div class="project-list" *ngFor="let project of fundraisers">
    <div class="project-title row">
      <div class="col-sm-8">
        <h2>{{project.title}}</h2>
      </div>
      <div class="col-sm-4">
        ${{project.current}}/${{project.goal}} raised!
      </div>
    </div>
    <div class="project-body">
      {{project.description}}
      <p><button type="button" name="button" class="btn btn-outline-success">Fund this!</button>
    </div>
  </div>
</div>
