<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CashGrab</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="">CashGrab</a>
        </div>
        <a class="nav-link" routerLink="about">About Us</a>
        <a class="nav-link" routerLink="projects">Current Fundraisers</a>
      </div>
    </nav>
    <div class="container">
      <h1>CashGrab</h1>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
