<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CashGrab</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="">CashGrab</a>
        </div>
        <div class="navbar-nav-scroll">
          <ul class="navbar-nav bd-navbar-nav flex-row">
            <li><a class="nav-item" routerLink="about">About Us</a></li>
            <li><a class="nav-item" routerLink="projects">Current Fundraisers</a></li>
            <li><a class="nav-item" routerLink="newform">Create your own Fundraiser</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
