<div class="new-form">
  <h1>Are you ready to take the next step?</h1>
  <h3>Start funding your project now.</h3>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h3>Getting started is easy</h3>
      <h5>Just fill out this form!</h5>
    </div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="col">
            <label for="fundName">Fundraiser title</label>
            <input type="text" class="form-control" #titleInput placeholder="Enter title" required>
          </div>
        </div>
        <p><label for="description">Project description</label>
        <textarea class="form-control" name="description" #descriptionInput rows="8" cols="120" placeholder="Enter a description of your fundraising campaign" required></textarea>
        <label for="goal">Funding Goal</label>
        <input class="form-control" type="number" #goalInput placeholder="Enter your fundraising goal" required>
        <div class="form-row">
          <div class="col">
            <select class="form-control" #typeInput>
              <option value="charity">Charity</option>
              <option value="product">Product</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control" #genreInput>
              <option value="animals">Animals</option>
              <option value="community">Community</option>
              <option value="technology">Technology</option>
            </select>
          </div>
        </div>
        <button class="btn btn-info" (click)="submitForm(titleInput.value,descriptionInput.value,goalInput.value,typeInput.value,genreInput.value)">Submit</button>
      </form>
    </div>
  </div>
</div>
