@import url('https://fonts.googleapis.com/css?family=Syncopate');

nav{
  background-color: lightgreen;
}
.navbar-brand{
  color: white;
  font-family: 'Syncopate', sans-serif;

}
.nav-item{
  color: white;
}
